main {
    width: 850px;
    height: 1500px;
    margin: 0 auto;
    padding: 0;
}

section {
    text-align: left;
    height: 100%;
    position: relative;
}

section.left_section {
    top: 0%;
    width: 45%;
    color: white;
    background-color: gray;
}

section.right_section {
    top: -100%;
    left: 45%;
    width: 55%;
    color: gray;
    background-color: white;
}

section h2,
h3 {
    padding: 10px;
    border-left: 10px solid orange;
}

section.left_section figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

section.left_section footer {
    text-align: center;
}

section.left_section h2,
h3 {
    background-color: darkgray;
}

section.left_section ul a,
section.left_section footer a {
    text-decoration: none;
    color: white;
}

section.left_section figure img {
    margin-top: 25px;
    width: 90%;
}

section.right_section h1 {
    font-size: 40px;
}

section.right_section h3 {
    background-color: antiquewhite;

}

section.right_section p,
h1 {
    padding-left: 20px;
}